Source: setproctitle
Section: python
Priority: extra
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
Build-Depends: cdbs, debhelper (>= 7), python, python-support, python-setuptools, python-dev
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/py-setproctitle/

Package: setproctitle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-setuptools
Description: A setproctitle implementation for Python
 setproctitle allows a python process to change its title (as
 displayed by system tools such as ps and top).
